.brands-section {
  background: var(--major-background-color);
  padding: 20px;
  overflow: hidden;
  margin: auto;
}

.brand-container {
    display: flex;
    justify-content: space-between;
}

.brand-container > img:nth-child(1) {
  width: 222px;
  height: 50px;
}

.brand-container > img:nth-child(2) {
  width: 214.14px;
  height: 37.56px;
}

.brand-container > img:nth-child(3) {
  width: 198.32px;
  height: 40.79px;
}

/* BREAKPOINTS */
/* For medium devices */
@media screen and (max-width: 768px) {
  .brand-container {
    animation: scroll 10s linear infinite;
    width: 250px;
    align-items: center;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-250px * 3));
    }
  }

  .brand-container > img {
    margin-right: 100px;
  }

}

@media screen and (max-width: 576px) {
  
}