.container {
  max-width: 1250px;
  margin: 0 auto;
}

/* BREAKPOINTS */
/* Large Screens */
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    max-width: 768px;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .container {
    max-width: 650px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 450px;
  }
}

/* For small devices */
@media screen and (max-width: 450px) {
  .container {
    max-width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    max-width: 330px;
  }
}
