.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(64, 64, 64, 0.3);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 326px;
  background-color: var(--white-color);
  border-radius: 16px;
  z-index: 30;
}

/* BREAKPOINTS */
/* For medium devices */
@media screen and (max-width: 768px) {
  .container {
    max-width: 650px;
  }
}

@media screen and (max-width: 576px) {
  .modal {
    width: 450px;
  }
}

/* For small devices */
@media screen and (max-width: 450px) {
  .modal {
    width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .modal {
    width: 330px;
  }
}
