.placelist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    column-gap: 24px;
    row-gap: 24px;
    color: var(--textblack-color);
}

.placelist-container {
  width: 292px;
  height: 372px;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 16px;
}

.placelist-container > img:nth-child(1) {
  width: 260px;
  height: 265px;
}

.placelist-title {
    margin: 16px 0 10px;
}

.placelist-title,
.placelist-distance {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 13px;
}

.placelist-title > p,
.placelist-distance > p {
  font-size: 12px;
  line-height: 13px;
}

.placelist-title > p:nth-child(2) {
    font-weight: 700;
}

.placelist-rating {
    width: 92px;
    height: 12px;
    margin-top: 9px;
}

/* BREAKPOINTS */
/* Large Screens */
@media screen and (max-width: 920px) {
  .placelist {
    justify-items: center;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .placelist {
    justify-items: center;
  }
}

@media screen and (max-width: 576px) {
  
}